body {
    https: //images.unsplash.com/photo-1419242902214-272b3f66ee7a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8bmlnaHQlMjBza3l8ZW58MHx8MHx8fDA%3D&w=1000&q=80);
    background-image: url(https://wallpaperset.com/w/full/c/9/3/145138.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}

table {
    background-color: rgba(0, 0, 0, 0.8); /* Black with 0.7 opacity */
    color: white; /* Text color for table */
    box-shadow: 8px 8px 18px black;
}

/* Styling for the input fields */
input[type="text"], textarea {
    background-color: rgba(169, 169, 169, 0.7); /* Grey with 0.7 opacity */
    color: black; /* Text color for input fields */
}
/*table {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    outline: 1px solid black;
    box-shadow: 7px 7px 15px black;
    color:white;
}*/

table th, table td {
    color: white; /* Text color for table content */
}

.btn {
 font-weight:bold;

}