body {
    background-image: url(https://c4.wallpaperflare.com/wallpaper/979/2/495/nature-pink-spring-tree-wallpaper-preview.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.glass-effect {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 7px 7px 15px black;
}

