@model PersonalProject.Models.DTOs.RegisterUserDTO

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<link rel="stylesheet" href="~/css/RegForm.css" />

@* <video id="video-bg" autoplay muted loop>
    <source src="~/Images/Tokyo.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>
 *@

<div class="glass">
    <div class="container">
        <form asp-action="Register" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group field">
                        <label asp-for="FirstName">First Name</label>
                        <input asp-for="FirstName" class="form-control" required />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group field">
                        <label asp-for="LastName">Last Name</label>
                        <input asp-for="LastName" class="form-control" required />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="">
                    @if (User.IsInRole("Admin"))
                    {
                        <div class="form-group field">
                            <label asp-for="Roles">Roles</label>
                            <input asp-for="Roles" class="form-control" required />
                            <span asp-validation-for="Roles" class="text-danger"></span>
                        </div>

                        <div class="">
                            <div class="form-group field">
                                <label asp-for="Gender">Gender</label>
                                <input asp-for="Gender" class="form-control" required />
                                <span asp-validation-for="Gender" class="text-danger"></span>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="form-group field" hidden>
                            <label asp-for="Roles">Roles</label>
                            <input asp-for="Roles" class="form-control" value="User"  />
                        </div>

                        <div class="">
                            <div class="form-group field">
                                <label asp-for="Gender">Gender</label>
                                <input asp-for="Gender" class="form-control" required />
                                <span asp-validation-for="Gender" class="text-danger"></span>
                            </div>
                        </div>
                    }
                </div>

               
            </div>

            <div class="form-group field">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" class="form-control" required />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group field">
                <label for="file">Upload Image:</label>
                <input type="file" id="file" name="file" class="form-control">
            </div>

            <div class="row">
                    <div class="form-group field">
                        <label asp-for="Password">Password</label>
                        <input asp-for="Password" class="form-control" type="password" required />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    
                </div>

                    <div class="form-group field">
                        <label asp-for="ConfirmPassword">Confirm Password</label>
                        <input asp-for="ConfirmPassword" class="form-control" type="password" required />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    
                </div>
            </div>

            <button type="submit" class="btn btn-primary subtn">Sign Up</button>
        </form>
    </div>
</div>
